main{
    background-color: red;
}

*{
    box-sizing: border-box;
}

html,body{
    margin: 0 !important;
}



.test{
    background-attachment: fixed;
}

#test2{
    background-color: inherit;
    
}



div~h1{

}

#mybox{
    background-color: red;
    border-color: black;
    border:10px solid black;
    padding: 30px 20px;
    width: 80%;
    margin:10px auto 10px auto;


}

.header-logo{
    float: left;
}

.header-menu{
    float: right;
}
.header-logo img{
    width: 100px;
}

.header-menu_links{
    display: inline;
    margin:5px;

}

.header-menu_links a{
    text-decoration: none;
}

.header-menu_links a:hover{
    color: red;
}





